.my-article-main{
   img{
       max-width: 100%;
       height: auto
   }
}
.my-article-function{
    .my-article-btn{
        border-radius: 5px;
        background: none;
    }
}
.my-article-link{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0.1rem black;
}