@import './_variables.scss';
.pagination-home{
    .swiper-pagination-bullet{
        opacity: 1;
        border-radius: 0.1538rem;
        background: #fff;
        &.swiper-pagination-bullet-active{
            background: #0da0b4
        }
    }
}
.nav-icons{
    border-top:1px solid map-get($colors, "light-1");
    border-bottom:1px solid map-get($colors, "light-1");
    .nav-item{
        width: 25%;
        border-left: 1px solid map-get($colors, "light-1");
        //让特定数字发生变化
        &:nth-child(4n+1){
          border-left: none;
        }
    }
}
.newsitem{
    .item-type{
        color: map-get($colors, "item-type" );
        border:1px solid map-get($colors, "item-type" )
    }
}