
.page-hero{
    .top{
      height:50vw;
      background: #fff no-repeat top center;//不重复，往上靠，居中
      background-size: 100% 100%;
     .info{
        //渐变
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
        .scores{
          .badge{
            margin: 0 0.25rem;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            text-align: center;
            line-height: 0.9rem;
            font-size: 0.5rem;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.3)
          }
        }
      }
    }
}